body{
    text-align: center;
}

.outer{
   
    display: flex;
    justify-content: center;

}

.btn{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2.5rem;
}
.red{

    background-color: red;
}
.yellow{
    
    background-color: yellow;
}

.green{
    
    background-color: green;
}

.purple{
    
    background-color: purple;
}

.flash{
    background-color: white;
}

.userflash{
    background-color:black;
}